@font-face {
    font-family: "IRANSansWeb_FaNum";
    src: url("../fonts/IRANSansWeb(FaNum).eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/IRANSansWeb(FaNum).ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/IRANSansWeb(FaNum).woff") format("woff"), /* Modern Browsers */
        url("../fonts/IRANSansWeb(FaNum).woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansWeb_FaNum_Light";
    src: url("../fonts/IRANSansWeb(FaNum)_Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"), /* Modern Browsers */
        url("../fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansWeb_FaNum_Medium";
    src: url("../fonts/IRANSansWeb(FaNum)_Medium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"), /* Modern Browsers */
        url("../fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansWeb_FaNum_Bold";
    src: url("../fonts/IRANSansWeb(FaNum)_Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"), /* Modern Browsers */
        url("../fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

